:root {
  --text-font: "Roboto", sans-serif;
  --text-title: "Raleway", sans-serif;
  --mostly-used-color: #212121;
  --mostly-used-color-inverse: #ffffff;
  --second-level-color: #757575;
  --accent-color: #2196f3;
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  --logo-second-color-inverse: #ffffff;
  --hero-link-background-color: #2196f3;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --icons-mostly-used-color: #afb1b8;
  --transit-time: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color) !important;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-mostly-used-color);
  transition: fill var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--mostly-used-color-inverse);
}

.join .social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--mostly-used-color-inverse);
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: var(--text-title);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-first-color);
  display: inline-block;
  padding: 25px 0;
  margin-right: 93px;
}

.logo-second {
  color: var(--logo-second-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--mostly-used-color);
  display: inline-block;
  padding: 32px 0;
  transition: color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: var(--accent-color);
}

.current-page {
  color: var(--accent-color);
  position: relative;
}

.current-page::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--second-level-color);
  display: flex;
  align-items: center;
  padding: 32px 0;
  transition: color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover, .contacts-list-link:focus {
  color: var(--accent-color);
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1), color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1), box-shadow var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-btn:hover, .filter-list-btn:focus {
  background-color: var(--accent-color);
  color: var(--mostly-used-color-inverse);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-list-item {
  outline: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover, .projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-photo-wrapper {
  position: relative;
  overflow: hidden;
}

.project-photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color-inverse);
  background-color: rgba(33, 150, 243, 0.9);
}

.projects-list-link:hover .project-photo-overlay,
.projects-list-link:focus .project-photo-overlay {
  transform: translateY(0);
}

.project-list-item-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.projects-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--mostly-used-color);
  margin-bottom: 4px;
}

.projects-list-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
}

.footer {
  background-color: var(--footer-background-color);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left-side {
  margin-right: 70px;
}

.footer .logo {
  margin-bottom: 20px;
  padding: 0;
}

.logo-second-inverse {
  color: var(--logo-second-color-inverse);
}

.adress-container {
  font-style: normal;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color-inverse);
  margin-bottom: 9px;
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
  transition: color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-list-link:hover, .footer-contacts-list-link:focus {
  color: var(--accent-color);
}

.join {
  margin-right: 87px;
}

.join .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mostly-used-color-inverse);
  margin-bottom: 20px;
}

.subscribe .join-title {
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
}

.subscribe input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--mostly-used-color-inverse);
}

.subscribe input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.subscribe button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--mostly-used-color-inverse);
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 29px;
  padding-right: 62px;
}

.footer-send-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--mostly-used-color-inverse);
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=portfolio.css.map */