.footer {
  background-color: var(--footer-background-color);

  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.logo-second-inverse {
  color: var(--logo-second-color-inverse);
}

.adress-container {
  font-style: normal;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color-inverse);

  margin-bottom: 9px;
}

.footer-left-side {
  text-align: center;
}

.footer-contacts-list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-level-color);

  transition: color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  & .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mostly-used-color-inverse);
  text-align: center;

  margin-bottom: 20px;

  .subscribe & {
    margin-bottom: 20px;
  }
}

.subscribe-form {
  text-align: center;
}

.subscribe input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--mostly-used-color-inverse);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.subscribe button {
  position: relative;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--mostly-used-color-inverse);
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 29px;
  padding-right: 62px;
}

.footer-send-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  fill: var(--mostly-used-color-inverse);
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }

  .footer-left-side {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    flex-wrap: wrap;
  }

  .footer-left-side,
  .join {
    flex-grow: 1;
  }

  .footer-left-side {
    margin-bottom: 60px;
  }

  .subscribe {
    margin: 0 auto;
  }

  .subscribe-form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 109px;
  }

  .join-title {
    text-align: left;
  }

  .subscribe input {
    width: 352px;
    height: 50px;
    margin-right: 12px;
  }

  .footer-left-side {
    margin-right: 70px;
    text-align: left;
  }
}
