.footer {
  background-color: var(--footer-background-color);

  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left-side {
  margin-right: 70px;
}

.footer .logo {
  margin-bottom: 20px;
  padding: 0;
}

.logo-second-inverse {
  color: var(--logo-second-color-inverse);
}

.adress-container {
  font-style: normal;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color-inverse);

  margin-bottom: 9px;
}

.footer-contacts-list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-level-color);

  transition: color var(--transit-time) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  margin-right: 87px;

  & .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mostly-used-color-inverse);

  margin-bottom: 20px;

  .subscribe & {
    margin-bottom: 20px;
  }
}

.subscribe-form {
  display: flex;
}

.subscribe input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--mostly-used-color-inverse);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.subscribe button {
  position: relative;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--mostly-used-color-inverse);
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 29px;
  padding-right: 62px;
}

.footer-send-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  fill: var(--mostly-used-color-inverse);
  width: 24px;
  height: 24px;
}
