.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/studio/hero/hero.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/studio/hero/hero@2x.jpg");
  }
}

.hero-title-link {
  background-color: var(--hero-link-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--mostly-used-color-inverse);
  border-radius: 4px;
  cursor: pointer;

  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/studio/hero/hero.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/studio/hero/hero@2x.jpg");
    }
  }
}

@media screen and (max-width: 1199px) {
  .hero-title-container {
    margin: 0 auto;
    max-width: 360px;
    height: 84px;
  }

  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--mostly-used-color-inverse);

    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/pc/studio/hero/hero.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/pc/studio/hero/hero@2x.jpg");
      }
    }

    .hero-title-container {
      margin: 0 auto;
      max-width: 696px;
      height: 120px;
    }

    .hero-title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.364;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--mostly-used-color-inverse);

      margin-bottom: 30px;
    }
  }
}
