.what-are-we-doing {
  padding-bottom: 106px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color);

  .what-are-we-doing & {
    margin-bottom: 50px;
  }
}

.what-are-we-doing-list {
  display: flex;
}

.what-are-we-doing-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }

  & > .img-description {
    position: absolute;
    bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--mostly-used-color-inverse);

    padding-top: 27px;
    padding-bottom: 27px;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
}
