:root {
  --text-font: "Roboto", sans-serif;
  --text-title: "Raleway", sans-serif;
  --mostly-used-color: #212121;
  --mostly-used-color-inverse: #ffffff;
  --second-level-color: #757575;
  --accent-color: #2196f3;
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  --logo-second-color-inverse: #ffffff;
  --hero-link-background-color: #2196f3;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --icons-mostly-used-color: #afb1b8;
  --transit-time: 250ms;
}
